<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test Chrome">
  <parameter name ="browser" value = "Chrome"/>
    <classes>
      <class name="TestPackages.LoginPageVerification"/>
      <class name="TestPackages.HomePageVerification"/>
    </classes>
  </test> <!-- Test -->
  <test name="Test FireFox">
  <parameter name ="browser" value = "FireFox"/>
    <classes>
      <class name="TestPackages.LoginPageVerification"/>
      <class name="TestPackages.HomePageVerification"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
